.progressie-bar {
    grid-area: 1 / 1 / 3 / 11;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: blue;
}
.progress-step1 {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

.progress-step1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkolivegreen;
}

.progress-step1:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    background: linear-gradient(to right, darkolivegreen 0%, white 100%);
}
.progress-step2 {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}
.progress-step2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white
}
.progress-step2:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    /*background: linear-gradient(to right, darkolivegreen 0%, white 100%);*/
    background-color: white;
}
.progress-step3 {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}
.progress-step3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white
}
.progress-step3:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    /*background: linear-gradient(to right, darkolivegreen 0%, white 100%);*/
    background-color: white;
}
.progress-step4 {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}
.progress-step4:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white
}
.progress-step4:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    /*background: linear-gradient(to right, darkolivegreen 0%, white 100%);*/
    background-color: white;
}
.last-step{
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}
.last-step:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white
}